{% extends 'base.html' %}
 
{% block content %}
<div class="card">
                        <div class="card-header">
                            <div class="heading-elements">
                            </div>
                        </div>
                        <div class="card-content collapse show" aria-expanded="true">
                            <div class="card-body">


                                <div class="card-text">
                                <div class="row">
                                <div class = "col-lg-2"></div>
                                
                                <div class = "col-lg-8">
                                <img style="height:80%" src="/static/welcome.jpg">
                                </div>
                                
                                </div>
                                
                                 </div>   
                            </div>
                        </div>
                    </div>


{% endblock %}